Repository Dingzeefs/Royal_pas_reform: changes, and which pre-commit hooks are due for each by the changed paths.
All: clean-jupyter, pyright

clean-jupyter:
  name: Clean Jupyter Notebooks
  entry: jupyter nbconvert --clear-output --inplace
  language: system

pyright:
  name: Pyright type checking
  entry: pyright
  language: system

Add package __init__.py
  myproject/src/myproject/__init__.py
Due: pyright

Add main.py module
  myproject/src/myproject/main.py
Due: pyright

Add example Jupyter notebook
  notebooks/example.ipynb
Due: clean-jupyter

Add requirements.lock file
  requirements.lock
Due: none

Add custom precommit.yaml
  precommit.yaml
Due: none

Add main analysis notebook (Royal_pas_reform_v2.ipynb)
  Royal_pas_reform_v2.ipynb
Due: clean-jupyter

feat: Add example_module.py file
  src/example_module.py
Due: pyright

feat: Add new_function to example_module.py
  src/example_module.py
Due: pyright

Path conditions:
  clean-jupyter: any of: \.ipynb$
  pyright: any of: \.py$
